@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

body{
    background: #2D3275;
}

.home-page{
    height: 100vh;
    width: 100%;
    background:  linear-gradient(#282071bf, #fff3), url('../assets/sport_banner.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}